<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short.ly URL Shortener</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    <div class="container">
        <div class="main-content">
            <div class="hero-heading">
                <h1>Welcome to Short.ly</h1>
                <p>Cut those long and boring links into shareable one.</p>
            </div>
            <div id="shorten_container">
            </div>
        </div>
    </div>

    <!-- REACT SCRIPT -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- IMPORT REACT COMPONENT -->
    <script src="/assets/js/components/shortly.js"></script>
</body>
</html>