<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short.ly URL Shortener</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    <div class="container">
        <div class="main-content">
            <div class="hero-heading">
                <h1>Welcome to Short.ly</h1>
                <p>Cut those long and boring links into shareable one.</p>
            </div>
            <div class="hero-input">
                <input type="text" placeholder="Paste long URL" />
                <button class="btn btn-shorten">Shorten</button>
                <p>By using our service you accept the <span><a href="#">Terms of Service</a></span> and <span><a href="#">Privacy Policy</a></span></p>
            </div>
            <div class="hero-output">
                <input type="text" />
                <button class="btn btn-shorten">Copy</button>
            </div>
        </div>
    </div>
</body>
</html>