html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    background-color: #068C7C;
    color: #ffffff;
}

.container {
    width: 100%;
}

.main-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}